<h2><%= @gallery.name %></h2>

<nav>
  <% if @gallery.user == current_user %> 
    <%= link_to "Edit", edit_gallery_path(@gallery) %>  
    <%= link_to "Delete", @gallery,  method: :delete %>
    <%= link_to "New image", new_gallery_image_path(@gallery) %>
  <% end %>

</nav>


 <% if current_user.like? @gallery %>
 <%= button_to "Unlike this gallery", unlike_gallery_path, method: :delete %>
 <% else %>
 <%= button_to "Like this gallery" , like_gallery_path%>
<% end %>


<%= render @images %>


